<section class="grid">
    <div class="card card-2">
        <h2>Need Assistance?</h2>
        <p>We gladly help you with any problem you might encounter.</p>
        <p>
            <a href="/contact">Contact us</a>
        </p>
    </div>
    <div class="card">
        <h2>Product Catalogue</h2>
        <p>Download our product catalogue.</p>
        <p>
            <!-- File downloads are tracked by default. -->
            <a href="/static/downloads/sample.pdf" target="_blank">Download PDF</a>
        </p>
    </div>
</section>
