<footer class="grid">
    <div class="card card-3 split">
        <ul>
            <li>
                <a href="https://pirsch.io/tour?ref=Demo" target="_blank">Take the Tour</a>
            </li>
            <li>
                <a href="https://github.com/pirsch-analytics/tour" target="_blank">View Source on GitHub</a>
            </li>
            <li>
                <a href="https://pirsch.io/?ref=Demo" target="_blank">Visit Pirsch.io</a>
            </li>
            <li>
                <a href="https://pirsch.io/legal" target="_blank">Legal</a>
            </li>
            <li>
                <a href="https://pirsch.io/privacy" target="_blank">Privacy Policy</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/phone">Pirsch Phone 1</a>
            </li>
            <li>
                <a href="/pad">Pirsch Pad 1</a>
            </li>
            <li>
                <a href="/watch">Pirsch Watch 1</a>
            </li>
        </ul>
        <div style="display: flex;align-items: flex-end;flex-direction: column;gap: 0.5rem;">
            <img src="/static/img/logo.svg" alt="Logo" style="max-height: 2rem;" />
            <p>&copy; 2024 Emvi Software GmbH</p>
        </div>
    </div>
</footer>
