<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="copyright" content="Emvi Software GmbH" />
    <meta name="author" content="Emvi Software GmbH" />
    <meta name="title" content="Tour of Pirsch Analytics" />
    <meta name="description" content="Take the tour of Pirsch Analytics and learn how to implement and interpret your web analytics data!" />
    <link rel="stylesheet" type="text/css" href="/static/style/main.css" />
    <script src="/static/script/a.js"></script>
    <title>Tour of Pirsch Analytics</title>
</head>
<body>
