<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="copyright" content="Emvi Software GmbH" />
    <meta name="author" content="Emvi Software GmbH" />
    <meta name="title" content="Tour of Pirsch Analytics" />
    <meta name="description" content="Take the tour of Pirsch Analytics and learn how to implement and interpret your web analytics data!" />
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/static/style/main.css" />
    <title>Tour of Pirsch Analytics</title>

    {{if cfg.ScriptIdentificationCode}}
        <script defer src="{{if cfg.ScriptSrc}}{{cfg.ScriptSrc}}{{else}}https://api.pirsch.io/pa.js{{end}}"
            id="pianjs"
            data-code="{{cfg.ScriptIdentificationCode}}"
            {{if cfg.ScriptHitEndpoint}}data-hit-endpoint="{{cfg.ScriptHitEndpoint}}"{{end}}
            {{if cfg.ScriptEventEndpoint}}data-event-endpoint="{{cfg.ScriptEventEndpoint}}"{{end}}
            {{if cfg.ScriptDev}}data-dev{{end}}
            {{if .Experiment}}data-tag-{{.Experiment}}="{{.Variant}}"{{end}}></script>
        <script src="/static/script/a.js"></script>
    {{else}}
        <script src="/static/script/a.js" data-use-backend></script>
    {{end}}
</head>
<body>
