<nav>
    <div style="min-width: 50%;">
        <a href="/" style="display: flex;justify-content: flex-start;align-items: center;gap: 0.5rem;">
            <img src="/static/img/logo.svg" alt="" style="max-height: 0.75rem;" />
            Tour of Pirsch Analytics
        </a>
    </div>
    <ul>
        <li>
            <!-- Outbound link clicks are tracked by default. -->
            <a href="https://pirsch.io/tour?ref=Tour" target="_blank">Take the Tour</a>
        </li>
        <li>
            <a href="https://github.com/pirsch-analytics/tour" target="_blank">View Source on GitHub</a>
        </li>
        <li>
            <a href="https://pirsch.io/?ref=Tour" target="_blank">Visit Pirsch.io</a>
        </li>
    </ul>
</nav>
