<section class="grid">
    <div class="card card-3 newsletter">
        <img src="/static/img/logo.svg" alt="" style="position: absolute;max-height: 80%;opacity: 0.05;" />
        <div class="center">
            <h2>Subscribe to our newsletter for new product announcements and exclusive deals.</h2>
            <p>Subscribe today and get a bonus code for 10% off!</p>
            <form action="/newsletter-thank-you" data-pirsch-form="Newsletter">
                <input type="email" name="email" placeholder="ME@EXAMPLE.COM" required data-pirsch-input />
                <button>Subscribe today</button>
            </form>
        </div>
    </div>
</section>
