<section class="grid">
    <div class="card card-3 newsletter">
        <img src="static/img/test.jpeg" alt="" style="position: absolute;max-width: 80%;top: 40%;" />
        <div style="max-width: 576px;z-index: 1;">
            <h2>Subscribe to our newsletter for new product announcements and exclusive deals.</h2>
            <p>Subscribe today and get a bonus code for 10% off!</p>
            <form>
                <input type="email" name="email" placeholder="me@example.com" />
                <input type="submit" value="Subscribe today" />
            </form>
        </div>
    </div>
</section>
