{{template "head.html"}}
{{template "nav.html"}}

{{$p := product .Slug}}

<section class="grid">
    {{if $p}}
        <div class="text">
            <h1>Checkout</h1>
            <p>You're almost there! Please enter your details to confirm your order.</p>
        </div>
        <div class="card card-2">
            <h2>Your order</h2>
            <div class="order-position">
                <a href="/product/{{$p.Slug}}">
                    <img src="/static/img/{{$p.Img1}}" alt="Product Image" />
                </a>
                <div>
                    <a href="/product/{{$p.Slug}}">
                        <h3>{{$p.Name}}</h3>
                    </a>
                    <p><strong>{{$p.Price}}</strong></p>
                    <p><small>{{$p.Description}}</small></p>
                </div>
            </div>
        </div>
        <div class="grid-vertical" style="grid-template-rows: auto 1fr;">
            <div class="grid-vertical">
                <button class="order" form="confirmOrderForm">Confirm order</button>
                <a href="/product/{{$p.Slug}}" class="button secondary reverse order">Back to Product</a>
            </div>
            <div class="card">
                <h2>Terms and conditions</h2>
                <p>By confirming the order you accept our terms and conditions and agree that your data is transmitted to our payment processor.</p>
            </div>
        </div>
        <div class="card card-2">
            <h2>Shipping address</h2>
            <form action="/thank-you" method="post" id="confirmOrderForm" data-pirsch-form="Order">
                <input type="text" name="name" placeholder="YOUR NAME" required data-pirsch-input />
                <input type="email" name="email" placeholder="ME@EXAMPLE.COM" required data-pirsch-input />
                <input type="text" name="address" placeholder="ADDRESS" required />
                <input type="text" name="city" placeholder="CITY" required />
                <input type="text" name="postal" placeholder="POSTAL CODE" required />
                <input type="text" name="card" placeholder="CARD NUMBER" required />
                <input type="text" name="expiration" placeholder="CARD EXPIRATION DATE" required />
                <input type="text" name="cvc" placeholder="CVC" required />

                <!-- Include the product ID as a hidden field so we can filter for it on the dashboard. -->
                <input type="hidden" name="product" value="{{$p.Name}}" data-pirsch-input />
            </form>
        </div>
        <div></div>
    {{else}}
        {{template "product-not-found.html"}}
    {{end}}
</section>

{{template "footer.html"}}
{{template "end.html"}}
