{{template "head.html"}}
{{template "nav.html"}}

<section class="grid">
    <div class="text">
        <h1>Contact</h1>
        <p>Reach out to us if you need assistance with your product or service or in case you have questions.</p>
    </div>
    <div class="card card-2">
        <form action="/contact-thank-you" method="post" data-pirsch-form="Contact">
            <input type="text" name="name" placeholder="YOUR NAME" required data-pirsch-input />
            <input type="email" name="email" placeholder="ME@EXAMPLE.COM" required data-pirsch-input />
            <input type="text" name="subject" placeholder="SUBJECT" required />
            <textarea name="message" placeholder="YOUR MESSAGE" required></textarea>
            <button>Submit</button>
        </form>
    </div>
</section>

{{template "footer.html"}}
{{template "end.html"}}
