{{template "head.html"}}
{{template "nav.html"}}

<section class="grid">
    <div class="text">
        <h1>Contact</h1>
        <p>Reach out to us if you need assistance with your product or service or in case you have questions.</p>
    </div>
    <div class="card card-2">
        <form>
            <input type="text" name="name" placeholder="YOUR NAME" />
            <input type="email" name="email" placeholder="ME@EXAMPLE.COM" />
            <input type="text" name="subject" placeholder="SUBJECT" />
            <textarea name="message" placeholder="YOUR MESSAGE"></textarea>
            <input type="submit" value="Submit" />
        </form>
    </div>
</section>

{{template "footer.html"}}
{{template "end.html"}}
