{{template "head.html"}}
{{template "nav.html"}}

<section class="grid">
    <div class="text">
        <h1>Welcome to the Tour of Pirsch Analytics!</h1>
        <p>Take the tour and learn how to implement and interpret your web analytics data!</p>
        <p>This is a demo shop, showcasing most of the features of Pirsch Analytics. To learn more, please read the tour on our <a href="https://pirsch.io/tour" target="_blank">website</a>.</p>
    </div>
    {{
        template "product-card.html"
        (
            dict
            "slug" "device-a"
            "img" "test.jpeg"
            "name" "Device A"
            "price" "$195.98"
        )
    }}
</section>

{{template "catalogue.html"}}
{{template "newsletter.html"}}
{{template "footer.html"}}
{{template "end.html"}}
