{{template "head.html"}}
{{template "nav.html"}}

<section class="grid">
    <div class="text card-3 center">
        <h1>Thank you for signing up!</h1>
        <p>Thank you for your newsletter subscription. We've sent a confirmation to your email address.</p>
        <p>
            <a href="/?p_event=Go+Home&p_path=/newsletter-thank-you"
               class="button"
               data-pirsch-event="Go Home">Go Home</a>
        </p>
    </div>
</section>

{{template "footer.html"}}
{{template "end.html"}}
