{{template "head.html" .}}
{{template "nav.html"}}

<section class="grid">
    <div class="text card-3 center {{if eq .Variant "colorful-cta"}}highlight{{end}}">
        <h1>Introducing: The Pirsch Pad 1</h1>
        <p>Introducing the Pirsch Pad 1, a tablet that redefines the balance between privacy, performance, and premium build quality.</p>

        {{if eq .Variant "colorful-cta"}}
            <p>
                <a href="/product/pirsch-pad-1" class="button" data-pirsch-event="Order Now" data-pirsch-meta-position="Hero">Get Yours</a>
            </p>
        {{end}}
    </div>
    <div class="card">
        <h2>For Those Who Value Privacy</h2>
        <p>Introducing the Pirsch Pad 1, a tablet that redefines the balance between privacy, performance, and premium build quality. Encased in a sleek aluminum shell, this tablet is designed to be both durable and aesthetically pleasing. The Pirsch Pad 1 is built with a strong focus on privacy, offering advanced encryption and secure software that keep your data safe. Whether for work or play, the Pirsch Pad 1 delivers a seamless and secure experience, ensuring that your information remains under your control.</p>
        <p>
            <a href="/checkout/pirsch-pad-1" class="button" data-pirsch-event="Order Now" data-pirsch-meta-position="1">Order now</a>
        </p>
    </div>
    <div class="card card-2" style="min-height: 30rem;">
        <div class="product-img">
            <img src="/static/img/pirsch-pad-1/Pirsch Pad 10.png" alt="" />
        </div>
    </div>
    <div class="card card-2" style="min-height: 30rem;">
        <div class="product-img">
            <img src="/static/img/pirsch-pad-1/Pirsch Pad 9.png" alt="" />
        </div>
    </div>
    <div class="card">
        <h2>High Quality Tablet</h2>
        <p>The Pirsch Pad 1 combines the elegance of a finely crafted aluminum body with the assurance of cutting-edge privacy features. It’s built to last, with a design that’s both sturdy and sophisticated. With hardware-based encryption and a custom, privacy-oriented OS, your data is securely protected, giving you peace of mind. Every aspect of the Pirsch Pad 1 has been thoughtfully designed to provide a premium user experience that prioritizes both security and style.</p>
        <p>
            <a href="/checkout/pirsch-pad-1" class="button" data-pirsch-event="Order Now" data-pirsch-meta-position="2">Order now</a>
        </p>
    </div>
    <div class="card">
        <div class="product-img">
            <img src="/static/img/pirsch-pad-1/Pirsch Pad 1.png" alt="" />
        </div>
    </div>
    <div class="card">
        <div class="product-img">
            <img src="/static/img/pirsch-pad-1/Pirsch Pad 2.png" alt="" />
        </div>
    </div>
    <div class="card">
        <div class="product-img">
            <img src="/static/img/pirsch-pad-1/Pirsch Pad 3.png" alt="" />
        </div>
    </div>
    <div class="card">
        <div class="product-img">
            <img src="/static/img/pirsch-pad-1/Pirsch Pad 4.png" alt="" />
        </div>
    </div>
    <div class="card">
        <div class="product-img">
            <img src="/static/img/pirsch-pad-1/Pirsch Pad 5.png" alt="" />
        </div>
    </div>
    <div class="card">
        <h2>An unbeatable price</h2>
        <p>The Pirsch Pad 1 is only $1,299! Get yours now.</p>
        <p>
            <a href="/product/pirsch-pad-1" class="button" data-pirsch-event="Order Now" data-pirsch-meta-position="View Product Page">View Product Page</a>
        </p>
    </div>
    <div class="card card-3" style="background: #6ece9d26;">
        <div class="center">
            <h2>Get your Pirsch Pad 1 Today!</h2>
            <p>Get 10% off if you have an active Pirsch Analytics subscription!</p>
            <p>
                <a href="/product/pirsch-pad-1" class="button" data-pirsch-event="Order Now" data-pirsch-meta-position="10% Off">Get 10% Off</a>
            </p>
        </div>
    </div>
</section>

{{template "newsletter.html"}}
{{template "footer.html"}}
{{template "end.html"}}
