{{template "head.html"}}
{{template "nav.html"}}

{{$p := product .Slug}}

<section class="grid">
    {{if $p}}
        <div class="split-vertical">
            <div class="text">
                <h1>{{$p.Name}}</h1>
                <p>{{$p.Description}}</p>
            </div>
            <a href="/order/{{$p.Slug}}" class="button order">Order now for {{$p.Price}}</a>
        </div>
        <div class="card card-2">
            <div class="product-img">
                <img src="/static/img/{{$p.Img2}}" alt="Product Image 1" />
            </div>
        </div>
        <div class="grid-vertical">
            <div class="card">
                <h2>Highlights</h2>
                <p>{{$p.Highlights}}</p>
            </div>
            <div class="card">
                <h2>Details</h2>
                <p>{{$p.Details}}</p>
            </div>
        </div>
        <div class="card card-2">
            <div class="product-img">
                <img src="/static/img/{{$p.Img1}}" alt="Product Image 2" />
            </div>
        </div>
    {{else}}
        <div class="text">
            <h1>Product not found</h1>
            <p>Sorry, we couldn't find the product you're looking for!</p>
            <p>
                <a href="/">Go to Homepage</a>
            </p>
        </div>
    {{end}}
</section>

{{template "catalogue.html"}}
{{template "newsletter.html"}}
{{template "footer.html"}}
{{template "end.html"}}
