{{template "head.html"}}
{{template "nav.html"}}

{{$p := product .Slug}}

<section class="grid">
    {{if $p}}
        <div class="split-vertical">
            <div class="text">
                <h1>{{$p.Name}}</h1>
                <p>{{$p.Description}}</p>
            </div>
            <a href="/checkout/{{$p.Slug}}" class="button order">Order now for {{$p.Price}}</a>
        </div>
        <div class="card">
            <div class="product-img">
                <img src="/static/img/{{$p.Img2}}" alt="Product Image 2" />
            </div>
        </div>
        <div class="card">
            <div class="product-img">
                <img src="/static/img/{{$p.Img3}}" alt="Product Image 3" />
            </div>
        </div>
        <div class="grid-vertical">
            <div class="card">
                <h2>Highlights</h2>
                <p>{{$p.Highlights}}</p>
            </div>
            <div class="card">
                <h2>Details</h2>
                <p>{{$p.Details}}</p>
            </div>
        </div>
        <div class="card card-2">
            <div class="product-img">
                <img src="/static/img/{{$p.Img1}}" alt="Product Image 1" />
            </div>
        </div>
    {{else}}
        {{template "product-not-found.html"}}
    {{end}}
</section>

{{if $p}}
    {{template "catalogue.html"}}
    {{template "newsletter.html"}}
{{end}}

{{template "footer.html"}}
{{template "end.html"}}
