{{template "head.html"}}
{{template "nav.html"}}

<section class="grid">
    <div class="split-vertical">
        <div class="text">
            <h1>Product Name</h1>
            <p>Elevate your SuperSomething v4's aesthetic with our exclusive collection. Gone are the days of conventional designs. Our innovative process transforms standard patterns into exceptional skins for your device.</p>
        </div>
        <a href="/order/name" class="button order">Order now for $195.98</a>
    </div>
    <div class="card card-2">
        <div class="product-img">
            <img src="/static/img/test2.jpeg" alt="Product Image 1" />
        </div>
    </div>
    <div class="grid-vertical">
        <div class="card">
            <h2>Highlights</h2>
            <p>Showcase your SuperSomething v4 with over 200 mockups in three unique styles Seamlessly compatible with leading design platforms: Figma, Sketch, and Adobe XD.</p>
        </div>
        <div class="card">
            <h2>Details</h2>
            <p>Showcase your SuperSomething v4 with over 200 mockups in three unique styles.</p>
        </div>
    </div>
    <div class="card card-2">
        <div class="product-img">
            <img src="/static/img/test.jpeg" alt="Product Image 2" />
        </div>
    </div>
</section>

{{template "catalogue.html"}}
{{template "newsletter.html"}}
{{template "footer.html"}}
{{template "end.html"}}
