{{template "head.html" .}}
{{template "nav.html"}}

<section class="grid">
    <div class="text card-3 center {{if eq .Variant "colorful-cta"}}highlight{{end}}">
        <h1>Introducing: The Pirsch Watch 1</h1>
        <p>Introducing the Pirsch Watch 1, a smartwatch that seamlessly blends privacy, durability, and sophisticated design.</p>

        {{if eq .Variant "colorful-cta"}}
            <p>
                <a href="/product/pirsch-watch-1?p_event=Order+Now&p_meta_position=Hero&p_path=/watch"
                   class="button"
                   data-pirsch-event="Order Now"
                   data-pirsch-meta-position="Hero">Get Yours</a>
            </p>
        {{end}}
    </div>
    <div class="card">
        <h2>For Those Who Value Privacy</h2>
        <p>Introducing the Pirsch Watch 1, a smartwatch that seamlessly blends privacy, durability, and sophisticated design. Housed in a sleek aluminum case, this smartwatch is built to withstand the rigors of daily life while maintaining a refined, modern appearance. The Pirsch Watch 1 is committed to protecting your personal data, featuring advanced encryption and secure software to ensure that your information remains private. Stay connected and in control with a smartwatch that prioritizes your security without compromising on style.</p>
        <p>
            <a href="/checkout/pirsch-watch-1?p_event=Order+Now&p_meta_position=1&p_path=/watch"
               class="button"
               data-pirsch-event="Order Now"
               data-pirsch-meta-position="1">Order now</a>
        </p>
    </div>
    <div class="card card-2" style="min-height: 40rem;">
        <div class="product-img">
            <img src="/static/img/pirsch-watch-1/Pirsch Watch 3.png" alt=""  style="max-height: 40rem;" />
        </div>
    </div>
    <div class="card card-2" style="min-height: 40rem;">
        <div class="product-img">
            <img src="/static/img/pirsch-watch-1/Pirsch Watch 4.png" alt="" style="max-height: 40rem;" />
        </div>
    </div>
    <div class="card">
        <h2>High Quality Watch</h2>
        <p>The Pirsch Watch 1 stands out with its combination of robust build quality and dedicated privacy features. Crafted from high-grade aluminum, it offers both strength and elegance in a compact form. With hardware-based encryption and a privacy-focused operating system, your personal data stays secure, giving you the confidence to use your smartwatch freely. Every element of the Pirsch Watch 1 is designed to deliver a premium experience that emphasizes both security and durability.</p>
        <p>
            <a href="/checkout/pirsch-watch-1?p_event=Order+Now&p_meta_position=2&p_path=/watch"
               class="button"
               data-pirsch-event="Order Now"
               data-pirsch-meta-position="2">Order now</a>
        </p>
    </div>
    <div class="card">
        <div class="product-img">
            <img src="/static/img/pirsch-watch-1/Pirsch Watch 1.png" alt="" />
        </div>
    </div>
    <div class="card">
        <div class="product-img">
            <img src="/static/img/pirsch-watch-1/Pirsch Watch 2.png" alt="" />
        </div>
    </div>
    <div class="card">
        <h2>An unbeatable price</h2>
        <p>The Pirsch Watch 1 is only $399! Get yours now.</p>
        <p>
            <a href="/product/pirsch-watch-1?p_event=Order+Now&p_meta_position=View+Product+Page&p_path=/watch"
               class="button"
               data-pirsch-event="Order Now"
               data-pirsch-meta-position="View Product Page">View Product Page</a>
        </p>
    </div>
    <div class="card card-3" style="background: #6ece9d26;">
        <div class="center">
            <h2>Get your Pirsch Watch 1 Today!</h2>
            <p>Get 10% off if you have an active Pirsch Analytics subscription!</p>
            <p>
                <a href="/product/pirsch-watch-1?p_event=Order+Now&p_meta_position=10%+Off&p_path=/watch"
                   class="button"
                   data-pirsch-event="Order Now"
                   data-pirsch-meta-position="10% Off">Get 10% Off</a>
            </p>
        </div>
    </div>
</section>

{{template "newsletter.html"}}
{{template "footer.html"}}
{{template "end.html"}}
